.login {
  margin: 0 auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Center vertically */
}

.login-title {
  text-align: center;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
